/*
File Name: One Column
Description: Responsive one column layout
Version: 1.0
Author: Satrya
Since: 0.1
License: GNU General Public License v2
License URI: license.txt
*/
.site {
  *zoom: 1;
  max-width: 700px;
  _width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.site:after {
  content: "";
  display: table;
  clear: both;
}

.site-content {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -20px;
  display: inline;
}

.site-footer {
  *zoom: 1;
  max-width: 700px;
  _width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.site-footer:after {
  content: "";
  display: table;
  clear: both;
}

#site-credit {
  *zoom: 1;
  max-width: 700px;
  _width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
#site-credit:after {
  content: "";
  display: table;
  clear: both;
}
